In [2]:
import pickle
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv('../dataset_v5/v5_2/dataset_v5_2/final_shodhganga_dataset_v5_2.csv')

In [26]:
dataset1 = pd.read_csv('/home/dj/Desktop/Shodhganga_work/sodhganga_code/dataset_v5/v5_2/v5_2_2/final_shodhganga_dataset_v5_2_2.csv')

In [3]:
edges2 = pd.read_csv('/home/dj/Desktop/Shodhganga_work/sodhganga_code/dataset_v5/v5_2/v5_2_2/final_shodhganga_dataset_v5_2_4.csv')

In [4]:
nodes2 = pd.read_csv('/home/dj/Desktop/Shodhganga_work/sodhganga_code/dataset_v5/v5_2/v5_2_2/index_file2_v5_2_4.csv')

In [21]:
dataset1.shape

(201477, 24)

In [3]:
dataset.shape

(201477, 21)

In [9]:
dataset.columns

Index(['advisorId', 'researcherId', 'advId', 'resId', 'advisor_name',
       'researcher_name', 'publisher_dept', 'DepartmentId',
       'publisher_institution', 'instituteId', 'title', 'thesisId',
       'N_thesisId', 'date_submitted', 'new_date_awarded', 'dc.date.awarded',
       'dc.subject.ddc', 'uniq_ddc_across_dept', 'dc.description.abstract',
       'dc.title.alternative', 'N_DepartmentId_1'],
      dtype='object')

In [6]:
#read pickle
with open('/home/dj/Desktop/Shodhganga_work/sodhganga_code/dataset_v5/v5_2/sim_name_in_operator_1.pkl', 'rb') as f:
    in_data= pickle.load(f)

In [8]:
#in_data

In [39]:
dataset[dataset["researcher_name"].str.contains("Kumar, Rajesh")]

,advisorId,researcherId,advId,resId,advisor_name,researcher_name,publisher_dept,DepartmentId,publisher_institution,instituteId,...,thesisId,N_thesisId,date_submitted,new_date_awarded,dc.date.awarded,dc.subject.ddc,uniq_ddc_across_dept,dc.description.abstract,dc.title.alternative,N_DepartmentId_1
2278,972,95689,972,95689,"Kumar, Manoj","Kumar, Rajesh",department of chemistry,D922,Guru Nanak Dev University,I216,...,T32067,T32067,2011-08-03,2011-09-09,2011-09-09,500::Natural sciences & mathematics|540::Chemi...,"('500', '540')",NaN,NaN,D1331
3529,1532,96757,1532,96757,"Negi, Vijay","Kumar, Rajesh",department of english,D1594,Maharishi Markandeshwar University,I127,...,T136610,T136610,2014-09-06,2014-09-06,2014-09-06,800::Literature & rhetoric|820::English & Old ...,"('800', '820')",NaN,NaN,D1594
3907,1627,97101,1627,97101,"Sharma, B. K.","Kumar, Rajesh",department of physics,D1787,University of Rajasthan,I121,...,T54719,T54719,2013-01-01,2013-07-01,NaN,500::Natural sciences & mathematics|530::Physics,"('500', '530')",NaN,NaN,D1787
4323,1863,97508,1863,97508,"Verma, D. D.","Kumar, Rajesh",department of anesthesiology,D1674,Bundelkhand University,I224,...,T35702,T35702,2002-01-01,2002-07-01,NaN,NaN,"('',)",NaN,NaN,D1674
6593,2841,99538,2841,99538,"Srivastava, Op","Kumar, Rajesh",department of ancient history,D2266,University of Allahabad,I178,...,T6376,T6376,2016-01-08,2016-07-08,NaN,900::History & geography,"('900',)",NaN,NaN,D2089
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183536,85057,264295,85057,284945,"Sharma, Sukesh Chander","Kumar, Rajesh",department of biochemistry,D978,Panjab University,I87,...,T151209,T151209,2011-12-31,2012-06-30,NaN,500::Natural sciences & mathematics|540::Chemi...,"('500', '540')",NaN,NaN,D753
183903,85223,264692,85223,264692,"Bharadwaj, Lalit M.","Kumar, Rajesh",department of mechanical engineering,D543,Panjab University,I87,...,T164114,T164114,2011-12-31,2012-06-30,NaN,600::Technology|620::Engineering & allied oper...,"('600', '620')",NaN,NaN,D2324
199271,92706,279598,92706,279598,"Kalia, S. B.","Kumar, Rajesh",department of chemistry,D1331,Himachal Pradesh University,I49,...,T123458,T123458,2015-01-01,2015-07-01,NaN,500::Natural sciences & mathematics|540::Chemi...,"('500', '540')",NaN,NaN,D1331
199344,92713,279598,92713,285560,"Blokhra, R. L.","Kumar, Rajesh",department of chemistry,D1331,Himachal Pradesh University,I49,...,T137133,T137133,1990-01-01,1990-07-01,NaN,500::Natural sciences & mathematics|540::Chemi...,"('500', '540')",NaN,NaN,D1331
200338,92956,280566,92889,280566,"Kulbhushan, Chandel","Kumar, Rajesh",department of commerce,D1072,Himachal Pradesh University,I49,...,T99005,T99005,2015-01-01,2015-07-01,NaN,"300::Social sciences|380::Commerce, communicat...","('300', '380', '381')",NaN,NaN,D1072

In [40]:
dataset[dataset["resId"].isin([279598, 285560])].values

array([[92706, 279598, 92706, 279598, 'Kalia, S. B.', 'Kumar, Rajesh',
        'department of chemistry', 'D1331',
        'Himachal Pradesh University', 'I49',
        'Physicochemical studies on some novel carbamate complexes of copper_ii_ and zinc_ii_ with potential insecticidal activity',
        'T123458', 'T123458', '2015-01-01', '2015-07-01', nan,
        '500::Natural sciences & mathematics|540::Chemistry & allied sciences',
        "('500', '540')", nan, nan, 'D1331'],
       [92713, 279598, 92713, 285560, 'Blokhra, R. L.', 'Kumar, Rajesh',
        'department of chemistry', 'D1331',
        'Himachal Pradesh University', 'I49',
        'Ultrasonic studies of some solutions involving isopropyl alcohol',
        'T137133', 'T137133', '1990-01-01', '1990-07-01', nan,
        '500::Natural sciences & mathematics|540::Chemistry & allied sciences',
        "('500', '540')", nan, nan, 'D1331']], dtype=object)

In [38]:
dataset[dataset["researcher_name"].str.contains("Kumar, Rajesh")][['resId','researcher_name','publisher_dept', 'publisher_institution','title']].iloc[0:20].values

array([[95689, 'Kumar, Rajesh', 'department of chemistry',
        'Guru Nanak Dev University',
        'Studies in the synthesis and recognition behaviour of Thiacalix[4] arene based receptors'],
       [96757, 'Kumar, Rajesh', 'department of english',
        'Maharishi Markandeshwar University',
        'TREATMENT OF PARSI CULTURE AND TRADITION IN THE WORKS OF ROHINTON MISTRY'],
       [97101, 'Kumar, Rajesh', 'department of physics',
        'University of Rajasthan',
        'Electronic structure studies of some ii vi group and intermetallic compounds in bulk nanophase'],
       [97508, 'Kumar, Rajesh', 'department of anesthesiology',
        'Bundelkhand University',
        'A comparative evaluation of thiopentone sodium and propofol as induction agent for caesarean section'],
       [99538, 'Kumar, Rajesh', 'department of ancient history',
        'University of Allahabad', 'ANIMAL HUSBANDARY IN ANCIENT INDIA'],
       [281978, 'Kumar, Rajesh', 'department of hindi',
        'Aligarh Muslim University',
        'Svaatantryottar Bhaarat Mein Vikaas Kee Visangatiyaan'],
       [106272, 'Kumar, Rajesh', 'department of political science',
        'Aligarh Muslim University',
        'Union state relations in India: A study of political trends since 1975 quot'],
       [106851, 'Kumar, Rajesh', 'department of applied physics',
        'Aligarh Muslim University',
        'Study of heavy ion induced modifications in polymers and their characterization'],
       [7274, 'Kumar, Rajesh',
        'department of physical health and sports education',
        'Aligarh Muslim University',
        'A study of psychological profiles among different levels of participation in soccer players'],
       [282211, 'Kumar, Rajesh', 'department of physics',
        'Himachal Pradesh University',
        'Dielectric relaxation studies of binary mixtures with N_methylformamide as one of the constituents from microwave absorption data'],
       [113534, 'Kumar, Rajesh', 'department of physics',
        'Himachal Pradesh University',
        'Synthesis and characterization of nanostructures using transition metals Ni Fe and Mn on silicon substrate'],
       [114161, 'Kumar, Rajesh', 'department of english',
        'Himachal Pradesh University',
        'Use of myth in the novels of Raja Rao and R K Narayan'],
       [121132, 'Kumar, Rajesh', 'school of social sciences',
        'Jawaharlal Nehru University',
        'Drug addiction and its relapse: a sociological study of drug addicts drawn from some de-addiction centres of Delhi'],
       [282352, 'Kumar, Rajesh', 'school of social sciences',
        'Jawaharlal Nehru University',
        'Fluvial processes in lower Rapti river basin: a case study of impacts on arable land'],
       [282414, 'Kumar, Rajesh', 'school of international studies',
        'Jawaharlal Nehru University',
        'Political extremism in Germany: unification and after'],
       [282438, 'Kumar, Rajesh', 'department of hindi',
        'Himachal Pradesh University',
        'Sholesh matiyani ke upanyaso me yugabedha'],
       [282439, 'Kumar, Rajesh', 'department of hindi',
        'Himachal Pradesh University',
        'Shailesh Matiyani ke upanyason mein yugbodh'],
       [282455, 'Kumar, Rajesh', 'department of education',
        'Himachal Pradesh University',
        'Academic support services m literacy movement in Himachal Pradesh_ an evaluative study'],
       [130014, 'Kumar, Rajesh', 'department of education',
        'Himachal Pradesh University',
        'aggression among secondary school students in relation to their emotion competence self esteem and certain demographic variables'],
       [134648, 'Kumar, Rajesh', 'department of social science',
        'University of Rajasthan',
        'Nepal me svaidhyanik vikas loktantriyakaran evam rajnitik']],
      dtype=object)

In [ ]:
#12274, 8438, 10

In [31]:
dataset[dataset["advisor_name"].str.contains('Adhya, T. K.')]

,advisorId,researcherId,advId,resId,advisor_name,researcher_name,publisher_dept,DepartmentId,publisher_institution,instituteId,...,thesisId,N_thesisId,date_submitted,new_date_awarded,dc.date.awarded,dc.subject.ddc,uniq_ddc_across_dept,dc.description.abstract,dc.title.alternative,N_DepartmentId_1
2027,865,95328,865,95328,"Adhya, T. K.","Datta, Arindam",department of environmental science,D843,University of Kalyani,I302,...,T193561,T193561,2007-01-01,2007-07-01,NaN,500::Natural sciences & mathematics,"('500',)",NaN,NaN,D843
19687,8438,111100,8438,111100,"Adhya, T. K.","Bharati, Kollah",department of botany,D2461,Utkal University,I75,...,T141424,T141424,1999-12-31,2000-06-30,NaN,500::Natural sciences & mathematics|580::Plant...,"('500', '580')",NaN,NaN,D2461
19688,8438,111142,8438,111142,"Adhya, T. K.","Pattnaik, Puspamala",department of botany,D2461,Utkal University,I75,...,T148994,T148994,1996-12-31,1997-06-30,NaN,500::Natural sciences & mathematics|580::Plant...,"('500', '580')",NaN,NaN,D2461
27981,12274,118677,12274,118677,"Adhya, T. K.","Das, Subhasis",department of microbiology,D738,Utkal University,I75,...,T74660,T74660,2013-12-31,2014-06-30,NaN,500::Natural sciences & mathematics|570::Life ...,"('500', '570')",NaN,NaN,D151
27982,12274,118683,12274,118683,"Adhya, T. K.","Bal, Himadri Bhusan",department of microbiology,D738,Utkal University,I75,...,T102125,T102125,2013-12-31,2014-06-30,NaN,500::Natural sciences & mathematics|570::Life ...,"('500', '570')",NaN,NaN,D151
27983,12274,118824,12274,118824,"Adhya, T. K.","Das, Savendu",department of life sciences,D738,Utkal University,I75,...,T163337,T163337,2008-12-31,2009-06-30,NaN,500::Natural sciences & mathematics|570::Life ...,"('500', '570')",NaN,NaN,D738
185590,86019,266330,86019,266330,"Adhya, T. K.","Nayak, Dali Rani",department of zoology,D1572,Utkal University,I75,...,T179398,T179398,2004-12-31,2005-06-30,NaN,500::Natural sciences & mathematics|590::Anima...,"('500', '590')",NaN,NaN,D1572

In [3]:
#dataset1[dataset1["advisor_name"].str.contains('Adhya, T. K.')]

In [4]:
#dataset2[dataset2["advisor_name"].str.contains('Adhya, T. K.')]

In [41]:
#edges = edges2[["advId", "resId","DepartmentId","instituteId","N_DepartmentId_1"]]

In [42]:
#edges.to_csv("shodhganga_edges_v5_4_4.csv",index=False)

In [43]:
#edges.shape

(201477, 5)

In [7]:
dataset2[dataset2["advId"]==53288]

,advisorId,researcherId,advId,resId,advisor_name,researcher_name,publisher_dept,DepartmentId,publisher_institution,instituteId,...,new_date_awarded,dc.date.awarded,dc.subject.ddc,uniq_ddc_across_dept,dc.description.abstract,dc.title.alternative,N_DepartmentId_1,ddc_code,advisor_advId,researcher_resId
115028,53288,53307,53288,53307,"Guruviah, S.","Selvaraj, M.",department of industrial chemistry,D1888,Alagappa University,I333,...,1991-07-01,NaN,500::Natural sciences & mathematics|540::Chemi...,"('500', '540')",NaN,NaN,D1888,"('500', '540')","Guruviah, S.@53288","Selvaraj, M.@53307"
115029,53288,199024,53288,199024,"Guruviah, S.","Muthukrishnan, S.",department of industrial chemistry,D1888,Alagappa University,I333,...,1995-07-01,NaN,500::Natural sciences & mathematics|540::Chemi...,"('500', '540')",NaN,NaN,D1888,"('500', '540')","Guruviah, S.@53288","Muthukrishnan, S.@199024"

In [15]:
nodes2[nodes2['names'].str.contains("\|")]

           rid                                              names
5            8                       Dominic, V. J.|Dominic, V J.
17          28     Kumar, N. Ajith|Ajith Kumar, N.|Ajithkumar, N.
24          35                     Vaidya, Vinay G.|Vinay, Vaidya
25          36  Acharya, Haridas|Acharya Haridas S.|Acharya, H...
27          39                    Urvashi, Rathod|Rathod, Urvashi
...        ...                                                ...
256635  285417                      Senthilkumar A|Sendhilkumar S
256686  285468                    Vijayakumar, P.|Vijayakumar, V.
256725  285507                             Kavitha, K.|K, Kavitha
256730  285512                    C, Senthilkumar|M, Senthilkumar
256794  285577                       Kumari, Anita|Kumari, Anitha

[15059 rows x 2 columns]

In [5]:
edges2.shape

(201477, 24)

In [6]:
nodes2.shape

(256842, 2)

In [7]:
256842-201477

55365